p 
{
    color: rgb(0, 191, 255);
    font-size: 16px;
    background-color: darkkhaki;
}

h1
{
    text-align: center;
      
}
.sport
{
    font-weight: bold;
    color: black;
}
.game
{
    text-decoration: underline;
}
#link
{
    color: cadetblue;
}
h1
{
    background-color:darkgreen;
}
h2
{
    background-color: darkgreen;
}
