h1
{
    text-align: center;
    background-color: rgba(6, 248, 228, 0.788);
    border-style: solid;
    border-color: black;
    border-width: 5px;
    padding: 30px;
    margin: 0px;
}
.sport
{
    font-weight: bold;
    color: black;
    border-style: solid;
    border-color: black;
    padding: 4px;
    border-width: 2px;
    margin-right: 700px;
    margin-left: 30px;
    width: auto;
}
.game
{
    text-decoration: underline;
    font-weight: bold;
    color: black;
    border-style: groove;
    border-color: black;
    padding: 4px;
    border-width: 2px;
    margin: auto;
    border-spacing: 2px ;
}
#link
{
    color: cadetblue;
}

#first{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-width: 5px;
} 
.firstPage{
    margin-left: 200px;
    margin-right: 400px;
    margin-bottom: 10px;
    color: black;
    border-style: none;
    padding: 20px;
}
.bigPapa{
    background-color: rgb(122, 195, 255);
    margin: -10;
    border-style: none;
    border-color: white;
    border-width:1000px;
}
body{
    margin: 0;
    padding: 0;
}
hr{
    width: 10px;
    color: black;
}
#sports{
    margin-left: 300px;
}
#interesting{
    margin-left: 850px;
}
#wow{
    border-style: solid;
    border-color: rgb(12, 12, 12);
    background-color: cornflowerblue;
    padding: 10px;
    margin-top: -10px;
    border-top: transparent;
    border-width: 3px;
}
nav{
    background-color: grey;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    padding: 10px;
    position: sticky;
    top: 0px;
}
.inclineblock{
    display: inline-block;
    text-decoration: underline;
    font-style: oblique;
    font-size: 30px;
}
#one{
    width: 375px;
}
#two{
    width: 375px;
}
#three{
    width: 375px;
}